<h3>LISTA DE ESTUDIANTES - 1er Año</h3>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        <th scope="col">GENERO</th>
        <th scope="col">MATEMATICAS</th>
        <th scope="col">INGLES</th>
        <th scope="col">LITERATURA</th>
        <th scope="col">PROMEDIO</th>
        <th scope="col">COMENTARIOS</th>  
      </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let student of students">
        <tr>
            <th scope="row">{{student.userId}}</th>
            <td>{{student.name}}</td>
            <td>{{student.lastname}}</td>
            <td>{{getGender(student)}}</td>
            <td>{{student.Math}}</td>
            <td>{{student.English}}</td>
            <td>{{student.Literature}}</td>
            <td [ngClass]="[ promedyGrade(student) > 10 ? 'verde':'rojo']">{{promedyGrade(student) | number: '2.2-2'}}</td>
            <td *ngIf="promedyGrade(student) <= 10 ">¡Desaprobado!, repetirás el año</td>
            <td *ngIf="promedyGrade(student) > 10 && promedyGrade(student) < 13">¡Aprobaste!, pero necesitas esforzarte un poco más</td>
            <td *ngIf="promedyGrade(student) >= 13 ">Has aprobado, ¡Felicidades!</td>
          </tr>
    </ng-container>
    </tbody>
  </table>